<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My First AngularJS Application</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/app.js"></script>

</head>
<body ng-ap="myApp">
    <h1>Intro to Data Binding</h1>
    <div ng-controller="DBController">
        <input type="text" ng-model="userName" />
            <input type="submit" ng-click="addName()" />
        <p>Hello, {{ userName }}</p>

        <ul>
            <li ng-repeat="name in nameArray">
                {{ name }}
                <button ng-click="deleteName(name)">X</button>
            </li>

        </ul>
    </div>
</body>
</html>