<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Grocery List</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="GroceryController">
        <header>
            <img src="images/food_love.jpg"/>
            <h1>Grocery List</h1>
        </header>

        <div class="itemAdd">
            <form ng-submit="addItem()">
                <div>
                    <input type="text" ng-model="newItem" placeholder="Add Grocery Item" />
                    <button type="submit">Save</button>
                </div>
            </form>


        </div>
        <p>{{ newItem }}</p>


        <div class="mainList">
            <h4>Items {{ groceries.length }}</h4>
            <table>
                <tr ng-repeat="gro in groceries">
                    <td>{{gro}}</td>
                    <td>
                        <button ng-click="removeItem(gro)">&times;</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>


</body>
</html>